<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoCriado">
      <app-banner></app-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoCriado">
        <app-cadastro (exibirpainel)="exibirpainel($event)"></app-cadastro>
      </div>
    </div>

    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoCriado">
        <app-login (exibirpainel)="exibirpainel($event)"></app-login>
      </div>
    </ng-template>
    
  </div>
</div>